.header{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header{
   
    border-bottom: 1px solid grey;
}
.header__logo{
    background-color: black;
    width: 125px;
    object-fit: contain;
    margin: 0 50px;
    

}
.header__option{
    color: white;
}
