.home{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}
.home__row{
    background-color: white;
    
    display: flex;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
}
.home__container{
   position: relative;
}
.home__hero{
    background-color: black;
}
.titulli__hero{
    font-size: 80px;
    position: absolute;
    top: 200px;
    margin-left: 155px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-weight: 100;
}
.teksti__hero{
    font-size: 15px;
    position: absolute;
    top: 410px;
    margin-left: 160px;    
}
.button_hero1{
    position: absolute;
    top: 550px;
}
.hero__img{
    
    width: 80%;
    z-index: -1;
    margin-bottom: 150px;
    margin-left: 150px;
}
.support__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ikonat__under{
    margin-bottom: 15px;
    font-size: 2em;
}

.under__hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    
}
.titujt__hero{
    margin-bottom: 15px;
    font-size: 30px;
}
.teksti__ikona{
    font-size: 15px;
    font-style: italic;
    border-bottom: 1px solid gray;
}

.options{
    display: flex;
   
    margin-top: 20px;
}
a{
    cursor: pointer;
}
.options__{
    display: flex;
    padding-left: -50px;
}
.image__options{
    width: 100%;
}
.dyshi{
    display: flex;
    justify-content: flex-end;
}
.bestsellers__{
    background-color: white;
    color: gray;
    
    padding:0 5px;
}
.teksti__shishe{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    

}
.bestsellers{
    display: flex;
    justify-content: flex-start;
   
}

.bestsellers__option{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    border-bottom: 1px solid gray;
    padding-right: 50%;
    
}
.featured{
    margin: 10px 10px;
    font-weight: 300;

}
.featured:active{
    color: black;
    font-weight: 400;
    border-bottom: 1px solid black;
    
}
.zgjedhenjo{
    display: flex;
    background-color: white;
    color: black;
    
}
.zgjedhe__tekst{
   
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
    justify-content: center;
    margin-left: 150px;
}
.zgjedhe__tekst > h1{
    font-weight: 100;
    font-size: 50px;
}
.zgjedhe__tekst > button {
    margin-top: 20px;
    display: flex;
    text-align: center;
    border: 2px solid black;
    background-color:  white;
    align-items: center;
    padding: 10px;
    font-style: italic;
    cursor: pointer;
    font-size: 15px;
}
.zgjedhe__img{
    object-fit: contain;
    
}
.imazhi__zghedhje{
    object-fit: contain;
    max-width: 500px;
}
.imazhidyt{
    
}
.imazhi__banner__personalizo{
    max-width: 100%;
}
.personalizo__banner{
    
    overflow-x: hidden;
}
.diqka{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    border-bottom: 1px solid gray;
}
.logo__footer{
    overflow-x: hidden;
    width: 10%;
    padding-bottom: 20px;
}
.footer{
    display: flex;
    justify-content: space-evenly;

    font-size: 13px;
    font-weight: 100;
    margin: 100px 50px 20px 50px;
    
}
.regjistrohu{
    display: flex;
    
}
ul{
    list-style: none;
}
.newsletter__footer{
    width: 40%;
}
.newsletter__footer > p{
    margin-bottom: 25px;

}
.paragrafi2 {
    color: gray;

}
.paragrafi5{
    margin-top: 10px;
}
.regjistrohu > input{
    margin-top: 15px;
    width: 60%;
    color: white;
    background-color: rgb(63, 59, 59);
    height: 25px;
    border: none;
    padding-left: 10px;
}
.regjistrohu > button{
    border-radius: 0;
    margin-top: 13px;
    margin-bottom: -2px;
    width: 15%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.aboutus__footer{
    display: flex;
    
    align-items: center;
}
.li__footer{
    margin: 10px 0;
}
